<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <title><%= "Optimal Course Scheduler" %></title>
  </head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
    <% if !user_signed_in? %>
      <%= form_for :user, :method => "post", :url => user_session_path, :html => { :class => "navbar-form navbar-right" }  do |f| %>
        <div class="form-group">
          <%= f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
        </div>
          <%= f.submit "Sign in", :class => "btn bt-default" %>
      <% end %>
    <% end %>
  </div><!-- /.navbar-collapse -->
</nav>
</body>
</html>