<h5><%= link_to "Back to course list", "/course/college/#{@course.college}" %></h5>
<div class="row">
  <div class="col-md-3">
    <h1><%= link_to "#{@course.college} #{@course.name}",course_path(@course.id) %></h1>
  </div>
  <div class="col-md-5" style="margin-top: 15px;"><p>
    <strong><%= @course.title %></strong><br>
    <span class="text-success"><%= @course.credits %> Credit hours</span>
  </p></div>
  <div class="col-md-2" style="margin-top: 15px">
    <%= form_tag @add_course_path do %>
      <%= hidden_field_tag :id, @course.id %>
      <%= submit_tag "Add course", :class => "btn btn-success" %>
    <% end %>
  </div>
</div>
<h3><%= (@sections.empty?) ? "No sections found." : "Sections: "%></h3>
<% @sections.each do |section| %>
  <% @section = section %>

  <div class="well col-md-9"> 
    <%= render partial: "section/show", object: @section %>
  </div>
<% end %>
