<h5><%= link_to "Back to course list", "/school/#{@school.name}", :class => "" %></h5>
<div class="row">
  <div class="col-md-3">
    <h1><%= link_to "#{@course.school.name} #{@course.name}","/school/#{@school.name}/#{@course.name}" %></h1>
  </div>
  <div class="col-md-5" style="margin-top: 15px;"><p>
    <strong><%= @course.title %></strong><br>
    <span class="text-success"><%= @course.credits %> Credit hours</span>
  </p></div>
  <div class="col-md-2" style="margin-top: 15px">
    <%= render :partial => "course/add", :locals => {:course => @course }%> 
  </div>
</div>
<h3><%= (@sections.empty?) ? "No sections found." : "Sections: "%></h3>
<% @sections.each do |section| %>
  <% @section = section %>

  <div class="well col-md-9"> 
    <%= render partial: "section/show", object: @section %>
  </div>
<% end %>
