<h1>New Time Constraint</h1>
<%= form_for @constraint, :url => schedule_time_constraint_index_path(params[:schedule_id]) do |f| %>
<div class="row">
  <div class="span1">
    <h5>Name</h5>
  </div>
  <div class="span">
    <%= f.text_field :name%>
  </div>
</div>
<div class="row">
  <div class="span1">
    <h5>Days</h5>
  </div>
  <div class="span">
    <%= f.check_box :monday %> M<br>
    <%= f.check_box :tuesday %> T<br>
    <%= f.check_box :wednesday %> W<br>
    <%= f.check_box :thursday %> R<br>
    <%= f.check_box :friday %> F<br>
  </div>
</div>
<div class="row" style="margin-top: 8px">
  <div class="span1">
    <h5>Start time</h5>
  </div>
  <div class="span">
    <%= f.time_field :start_time %>
  </div>
</div>
<div class="row" style="margin-top: 8px">
  <div class="span1">
    <h5>End time</h5>
  </div>
  <div class="span">
    <%= f.time_field :end_time %>
  </div>
</div>
<div class="row" style="margin-top: 8px">
  <div class="span1">
    <%= f.submit "Add constraint", :class => "btn btn-success" %>
  </div>
</div>
<% end %>
